# Evaluate Choice Survey

## Upload Completed Survey Data

In [ ]:
import pandas as pd
print(pd.__version__) # has to be 1.3.1 otherwise install it

1.3.5

In [ ]:
import io
# load library to upload data in colab
from google.colab import files

In [ ]:
uploaded = files.upload()

Saving SurveySet_04_Choices_v03_mencher.csv to SurveySet_04_Choices_v03_mencher.csv

In [ ]:
survey_file_name = 'SurveySet_04_Choices_v03_mencher.csv'
set_id = "04"
version_id = "03"

In [ ]:
import pandas as pd
# read uploaded file
d = pd.read_csv(io.BytesIO(uploaded[survey_file_name]), sep=';')
# Dataset is now stored in a Pandas Dataframe

In [ ]:
d

       New_ID                                               text  group  Yes
0         NaN                                                NaN    NaN  NaN
1         NaN  ------ Topic 3 ------\nracism : the : and : yo...    NaN  NaN
2     89789.0  RT @freyas_house: Calling someone a racist who...    1.0    x
3    125672.0  RT @NftRecall: US stocks rise to kick off 2022...    1.0  NaN
4    135378.0  RT @MLagouste: 20. Unlike any other social jus...    2.0  NaN
..        ...                                                ...    ...  ...
105   34915.0  @HeathBishop13 @PolPopCult @MattH_4America fre...   48.0    x
106   17781.0  'Victims of our own success': Kingston goes fr...   49.0  NaN
107   35119.0  @MartyPeak @SteveDeaceShow Offering jobs in a ...   49.0    x
108   72783.0  â€œWe want you to feel like itâ€™s your office...   50.0  NaN
109   34240.0  @MaakVan @waynesaisbright @CampherDarren @elon...   50.0    x

[110 rows x 4 columns]

In [ ]:
isinstance(d['Yes'][0], str)

False

In [ ]:
def convert_to_bool(value, true_val):
  res = False
  if isinstance(value, str):
    if value.lower() == 'x':
      res = True
  return res

In [ ]:
df = d

In [ ]:
# check data
df

       New_ID                                               text  group  Yes
0         NaN                                                NaN    NaN  NaN
1         NaN  ------ Topic 3 ------\nracism : the : and : yo...    NaN  NaN
2     89789.0  RT @freyas_house: Calling someone a racist who...    1.0    x
3    125672.0  RT @NftRecall: US stocks rise to kick off 2022...    1.0  NaN
4    135378.0  RT @MLagouste: 20. Unlike any other social jus...    2.0  NaN
..        ...                                                ...    ...  ...
105   34915.0  @HeathBishop13 @PolPopCult @MattH_4America fre...   48.0    x
106   17781.0  'Victims of our own success': Kingston goes fr...   49.0  NaN
107   35119.0  @MartyPeak @SteveDeaceShow Offering jobs in a ...   49.0    x
108   72783.0  â€œWe want you to feel like itâ€™s your office...   50.0  NaN
109   34240.0  @MaakVan @waynesaisbright @CampherDarren @elon...   50.0    x

[110 rows x 4 columns]

In [ ]:
df['Yes'] = df['Yes'].apply(convert_to_bool, args=('x'))

In [ ]:
# check data
df

       New_ID                                               text  group    Yes
0         NaN                                                NaN    NaN  False
1         NaN  ------ Topic 3 ------\nracism : the : and : yo...    NaN  False
2     89789.0  RT @freyas_house: Calling someone a racist who...    1.0   True
3    125672.0  RT @NftRecall: US stocks rise to kick off 2022...    1.0  False
4    135378.0  RT @MLagouste: 20. Unlike any other social jus...    2.0  False
..        ...                                                ...    ...    ...
105   34915.0  @HeathBishop13 @PolPopCult @MattH_4America fre...   48.0   True
106   17781.0  'Victims of our own success': Kingston goes fr...   49.0  False
107   35119.0  @MartyPeak @SteveDeaceShow Offering jobs in a ...   49.0   True
108   72783.0  â€œWe want you to feel like itâ€™s your office...   50.0  False
109   34240.0  @MaakVan @waynesaisbright @CampherDarren @elon...   50.0   True

[110 rows x 4 columns]

## Upload & Prepare Reference Data

In [ ]:
uploaded = files.upload()

Saving survey_comparision_big_v3.csv to survey_comparision_big_v3.csv

In [ ]:
comparision_file_name = 'survey_comparision_big_v3.csv'

In [ ]:
d = pd.read_csv(io.BytesIO(uploaded[comparision_file_name]))

In [ ]:
df_control = d.drop(columns='Unnamed: 0')

In [ ]:
# check data
df_control

,text,-1,1,10,11,12,13,14,15,16,...,3,4,5,6,7,8,9,top topic,New_ID,group
0,RT @freyas_house: Calling someone a racist who...,0.0,0.00679,0.00453,0.00807,0.00442,0.00321,0.01006,0.00370,0.00583,...,0.86858,0.00448,0.00607,0.00492,0.00431,0.01253,0.00530,3.0,89789,1
1,RT @NftRecall: US stocks rise to kick off 2022...,0.0,0.00941,0.00918,0.00680,0.01341,0.00946,0.00517,0.00593,0.01166,...,0.00461,0.00499,0.00630,0.00581,0.04058,0.00446,0.00466,7.0,125672,1
2,RT @MLagouste: 20. Unlike any other social jus...,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,17.0,135378,2
3,@ZubyMusic Anyone who has travelled the world ...,0.0,0.00839,0.00554,0.01044,0.00547,0.00394,0.01286,0.00456,0.00732,...,0.83783,0.00553,0.00749,0.00603,0.00533,0.01422,0.00661,3.0,89264,2
4,The latest InstaGame daily is out! https://t.c...,0.0,0.01851,0.01185,0.01065,0.67933,0.01108,0.00908,0.02231,0.01307,...,0.00977,0.01744,0.01175,0.02514,0.01828,0.01040,0.01411,12.0,36030,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,@HeathBishop13 @PolPopCult @MattH_4America fre...,0.0,0.00349,0.00350,0.00376,0.00237,0.00215,0.00245,0.00144,0.00843,...,0.00201,0.00142,0.00227,0.00161,0.00386,0.00175,0.00139,18.0,34915,48
96,'Victims of our own success': Kingston goes fr...,0.0,0.83889,0.01117,0.00861,0.00684,0.00674,0.00874,0.00589,0.00874,...,0.00686,0.00441,0.00934,0.00524,0.00740,0.00616,0.00518,1.0,17781,49
97,@MartyPeak @SteveDeaceShow Offering jobs in a ...,0.0,0.00399,0.00391,0.00431,0.00266,0.00240,0.00279,0.00162,0.00986,...,0.00227,0.00159,0.00259,0.00182,0.00431,0.00197,0.00157,18.0,35119,49
98,“We want you to feel like it’s your office!”\n...,0.0,0.01265,0.00795,0.00820,0.02216,0.00687,0.00740,0.01502,0.00889,...,0.00923,0.02497,0.00857,0.30824,0.01006,0.01105,0.01544,6.0,72783,50
99,@MaakVan @waynesaisbright @CampherDarren @elon...,0.0,0.00490,0.00492,0.00527,0.00331,0.00302,0.00343,0.00202,0.01209,...,0.00280,0.00198,0.00320,0.00225,0.00542,0.00244,0.00195,18.0,34240,50

In [ ]:
df_new = pd.merge(df_control, df, on="New_ID")
df_new

,text_x,-1,1,10,11,12,13,14,15,16,...,6,7,8,9,top topic,New_ID,group_x,text_y,group_y,Yes
0,RT @freyas_house: Calling someone a racist who...,0.0,0.00679,0.00453,0.00807,0.00442,0.00321,0.01006,0.00370,0.00583,...,0.00492,0.00431,0.01253,0.00530,3.0,89789,1,RT @freyas_house: Calling someone a racist who...,1.0,True
1,RT @NftRecall: US stocks rise to kick off 2022...,0.0,0.00941,0.00918,0.00680,0.01341,0.00946,0.00517,0.00593,0.01166,...,0.00581,0.04058,0.00446,0.00466,7.0,125672,1,RT @NftRecall: US stocks rise to kick off 2022...,1.0,False
2,RT @MLagouste: 20. Unlike any other social jus...,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,17.0,135378,2,RT @MLagouste: 20. Unlike any other social jus...,2.0,False
3,@ZubyMusic Anyone who has travelled the world ...,0.0,0.00839,0.00554,0.01044,0.00547,0.00394,0.01286,0.00456,0.00732,...,0.00603,0.00533,0.01422,0.00661,3.0,89264,2,@ZubyMusic Anyone who has travelled the world ...,2.0,True
4,The latest InstaGame daily is out! https://t.c...,0.0,0.01851,0.01185,0.01065,0.67933,0.01108,0.00908,0.02231,0.01307,...,0.02514,0.01828,0.01040,0.01411,12.0,36030,3,The latest InstaGame daily is out! https://t.c...,3.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,@HeathBishop13 @PolPopCult @MattH_4America fre...,0.0,0.00349,0.00350,0.00376,0.00237,0.00215,0.00245,0.00144,0.00843,...,0.00161,0.00386,0.00175,0.00139,18.0,34915,48,@HeathBishop13 @PolPopCult @MattH_4America fre...,48.0,True
96,'Victims of our own success': Kingston goes fr...,0.0,0.83889,0.01117,0.00861,0.00684,0.00674,0.00874,0.00589,0.00874,...,0.00524,0.00740,0.00616,0.00518,1.0,17781,49,'Victims of our own success': Kingston goes fr...,49.0,False
97,@MartyPeak @SteveDeaceShow Offering jobs in a ...,0.0,0.00399,0.00391,0.00431,0.00266,0.00240,0.00279,0.00162,0.00986,...,0.00182,0.00431,0.00197,0.00157,18.0,35119,49,@MartyPeak @SteveDeaceShow Offering jobs in a ...,49.0,True
98,“We want you to feel like it’s your office!”\n...,0.0,0.01265,0.00795,0.00820,0.02216,0.00687,0.00740,0.01502,0.00889,...,0.30824,0.01006,0.01105,0.01544,6.0,72783,50,â€œWe want you to feel like itâ€™s your office...,50.0,False
99,@MaakVan @waynesaisbright @CampherDarren @elon...,0.0,0.00490,0.00492,0.00527,0.00331,0.00302,0.00343,0.00202,0.01209,...,0.00225,0.00542,0.00244,0.00195,18.0,34240,50,@MaakVan @waynesaisbright @CampherDarren @elon...,50.0,True

In [ ]:
# depending on the utilized data a different set of columns is used
if set_id == '01':
  df_new_control = df_new.drop(columns=['text_x', '1', '2', '3','4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', 'text_y'])
elif set_id == '02':
  df_new_control = df_new.drop(columns=['text_x', '1', '2', '3','4', '5', '6', '7', '8', '9', '10', '11', '12', '13', 'text_y'])
elif set_id == '03':
  df_new_control = df_new.drop(columns=['text_x', '-1', '1', '10', '11', '2', '3', '4', '5', '6', '7', '8', '9', 'text_y'])
elif set_id == '04':
  df_new_control = df_new.drop(columns=['text_x', '-1', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22', '23', '3','4', '5', '6', '7', '8', '9', 'text_y'])

# df_new_control = df_new.drop(columns=['text_x', '1', '2', '3','4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', 'text_y'])
# df_new_control = df_new.drop(columns=['text_x', '-1', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22', '23', '3','4', '5', '6', '7', '8', '9', 'text_y'])
df_new_control

    top topic  New_ID  group_x  group_y    Yes
0         3.0   89789        1      1.0   True
1         7.0  125672        1      1.0  False
2        17.0  135378        2      2.0  False
3         3.0   89264        2      2.0   True
4        12.0   36030        3      3.0  False
..        ...     ...      ...      ...    ...
95       18.0   34915       48     48.0   True
96        1.0   17781       49     49.0  False
97       18.0   35119       49     49.0   True
98        6.0   72783       50     50.0  False
99       18.0   34240       50     50.0   True

[100 rows x 5 columns]

In [ ]:
# check for errors in the maintenance - e.g. if someone has not used the groups as a radio button
prev_group = 0
count_true = 0
log_of_error = []
pre_id = 0
for idx, row in df_new_control.iterrows():
  if prev_group == row['group_x']:
    if row['Yes']:
      count_true += 1
    if count_true == 0 or count_true == 2:
      print('Error - should not happen')
      log_of_error.append(prev_id)
      log_of_error.append(row['New_ID'])
  else:
    prev_group  = row['group_x']
    count_true = 0
    prev_id = row['New_ID']
    if row['Yes']:
      count_true += 1

log_of_error

[]

In [ ]:
# depending on the underlying data different topics were selected, adjust accordingly
if set_id == '01':
  list_of_topics = [6,8,10,14,16]
  t_t = 'top_topic'
elif set_id == '02':
  list_of_topics = [1,2,5,9,10]
  t_t = 'top_topic'
elif set_id == '03':
  list_of_topics = [1,2,6,7,8]
  t_t = 'top topic'
elif set_id == '04':
  list_of_topics = [3,5,13,15,18]
  t_t = 'top topic'
print(list_of_topics[3])
print(t_t)

15
top topic

In [ ]:
# create a control list to mark right answers (hit)
check = 0
hit = []
for idx, row in df_new_control.iterrows():
  if idx < 20:
    # id #1
    if row[t_t] == list_of_topics[0]:
      check += 1
      hit.append(True)
    else:
      hit.append(False)
  elif idx < 40:
    # id #2
    if row[t_t] == list_of_topics[1]:
      check += 1
      hit.append(True)
    else:
      hit.append(False)
  elif idx < 60:
    # id #3
    if row[t_t] == list_of_topics[2]:
      check += 1
      hit.append(True)
    else:
      hit.append(False)
  elif idx < 80:
    # id #4
    if row[t_t] == list_of_topics[3]:
      check += 1
      hit.append(True)
    else:
      hit.append(False)
  else:
    # id #5
    if row[t_t] == list_of_topics[4]:
      check += 1
      hit.append(True)
    else:
      hit.append(False)
print(check)

50

In [ ]:
# add new column hit to indicate right answers
df_new_control['hit'] = hit
df_new_control

    top topic  New_ID  group_x  group_y    Yes    hit
0         3.0   89789        1      1.0   True   True
1         7.0  125672        1      1.0  False  False
2        17.0  135378        2      2.0  False  False
3         3.0   89264        2      2.0   True   True
4        12.0   36030        3      3.0  False  False
..        ...     ...      ...      ...    ...    ...
95       18.0   34915       48     48.0   True   True
96        1.0   17781       49     49.0  False  False
97       18.0   35119       49     49.0   True   True
98        6.0   72783       50     50.0  False  False
99       18.0   34240       50     50.0   True   True

[100 rows x 6 columns]

## Assess Survey

In [ ]:
# check total count of hit
sum(df_new_control['Yes'] == df_new_control['hit'])

100

In [ ]:
# check entries that were answered wrongly
for idx, row in df_new_control.iterrows():
  if row['Yes'] != row['hit']:
    print(idx)

In [ ]:
# test - slice df
df_new_control.loc[80:99]

    top topic  New_ID  group_x  group_y    Yes    hit
80        3.0   91170       41     41.0  False  False
81       18.0   34530       41     41.0   True   True
82       18.0   34801       42     42.0   True   True
83       19.0  132540       42     42.0  False  False
84       21.0  117176       43     43.0  False  False
85       18.0   34665       43     43.0   True   True
86       18.0   34171       44     44.0   True   True
87       15.0   81258       44     44.0  False  False
88        2.0   43175       45     45.0  False  False
89       18.0   34199       45     45.0   True   True
90       18.0   34433       46     46.0   True   True
91       13.0   30597       46     46.0  False  False
92       18.0   34769       47     47.0   True   True
93        4.0   61742       47     47.0  False  False
94        4.0   65665       48     48.0  False  False
95       18.0   34915       48     48.0   True   True
96        1.0   17781       49     49.0  False  False
97       18.0   35119       49     49.0   True   True
98        6.0   72783       50     50.0  False  False
99       18.0   34240       50     50.0   True   True

In [ ]:
# start evaluataion
# always in blocks of 20
# hence, evaulate each block and also all together
# write log file to store it later
log_string = 'Evaluation Result of Choice Survey Type' + '\n' + survey_file_name + '\n' + 'Set: ' + set_id + ' and Version: ' + version_id + '\n' + comparision_file_name + '\n'
start = 0
total_correct_count = 0
for i in range(0,5):
  # print(start)
  stop = start + 19
  # print(stop)
  df_tmp = df_new_control.loc[start:stop]
  # print(len(df_tmp))
  correct_count = sum(df_tmp['Yes'] == df_tmp['hit'])
  total_correct_count += correct_count
  correct_ratio = correct_count / 20
  log_string = log_string + f'From 20 answers {correct_count} were correct and this results in a accuracy of {correct_ratio}' + "\n"
  start += 20
total_correct_ratio = total_correct_count / 100
log_string = log_string + f'From 100 answers {total_correct_count} were correct and this results in a accuracy of {total_correct_ratio}'
print(log_string)

Evaluation Result of Choice Survey Type
SurveySet_04_Choices_v03_mencher.csv
Set: 04 and Version: 03
survey_comparision_big_v3.csv
From 20 answers 20 were correct and this results in a accuracy of 1.0
From 20 answers 20 were correct and this results in a accuracy of 1.0
From 20 answers 20 were correct and this results in a accuracy of 1.0
From 20 answers 20 were correct and this results in a accuracy of 1.0
From 20 answers 20 were correct and this results in a accuracy of 1.0
From 100 answers 100 were correct and this results in a accuracy of 1.0

In [ ]:
# check log 
log_string

'Evaluation Result of Choice Survey Type\nSurveySet_04_Choices_v03_mencher.csv\nSet: 04 and Version: 03\nsurvey_comparision_big_v3.csv\nFrom 20 answers 20 were correct and this results in a accuracy of 1.0\nFrom 20 answers 20 were correct and this results in a accuracy of 1.0\nFrom 20 answers 20 were correct and this results in a accuracy of 1.0\nFrom 20 answers 20 were correct and this results in a accuracy of 1.0\nFrom 20 answers 20 were correct and this results in a accuracy of 1.0\nFrom 100 answers 100 were correct and this results in a accuracy of 1.0'

## Store Asessment Results

In [ ]:
# create name for log file
log_file_name = 'evaluation_result_' + survey_file_name.split('.')[0] + '.txt'
log_file_name

'evaluation_result_SurveySet_04_Choices_v03_mencher.txt'

In [ ]:
# write log file
file = open(log_file_name, "w") 
file.write(log_string) 
file.close()

In [ ]:
# create name for csv file
csv_file_name = 'evaluation_result_' + survey_file_name.split('.')[0] + '.csv'
csv_file_name

'evaluation_result_SurveySet_04_Choices_v03_mencher.csv'

In [ ]:
# store merged dataframe for archive purpose
df_new_control.to_csv(csv_file_name)